h1 {
	text-align: center;
	font-family: Calibri;
	color: white;
}
body {
	margin: 0;
}
.header {
  padding: 5px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
}






table, th, td {
	border: 1px solid black;
	text-align:center;
	font-family:Calibri;
}
table {
	margin-top: 25px;
}
th {
	background-color: DodgerBlue;
	color:white;
}

tr:hover {
	background-color: Coral;
}